/* carousel.css */
.carousel-container {
  display: flex;  
  overflow: hidden;
  overflow-x: hidden;  
  width: 100%;
}

.gallery {
  display: flex; 
  /* overflow: hidden; 
  overflow-x: hidden;   */
  width: max-content; 
  animation: scrollImages 50s linear infinite;
  }
  
  .gallery > img {
    width: auto; 
    max-height: 250px;
    object-fit: cover; /* Maintain the aspect ratio while covering the container */
    flex-shrink: 50; 
    margin-right: 10px;
  }
  
  @keyframes scrollImages {
    0% {
      transform: translateX(0); /* Start at the left */
    }
    100% {
      transform: translateX(-100%); /* Scroll to the left */
    }
  }
  